SUPABASE_URL=https://nmbrfebuhzwylcntoqhm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tYnJmZWJ1aHp3eWxjbnRvcWhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1ODQxODAsImV4cCI6MjA3NTE2MDE4MH0.9rji_boqnSmvrrGBLW9JRU-mKUYrOEHWwP9SYIQRtFU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tYnJmZWJ1aHp3eWxjbnRvcWhtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTU4NDE4MCwiZXhwIjoyMDc1MTYwMTgwfQ.pOxNfmJJDbvOXoTQEWIKC1va8CfL0lIh0Chhmwsz23E
SUPABASE_DB_URL=postgresql://postgres:Asphaltaasais@1@db.nmbrfebuhzwylcntoqhm.supabase.co:5432/postgres